.tree {
    position: relative;
    padding: $padding-li;
    padding-right: 0;

    ul {
        margin-left: $indentation;
    }
    
    li {
        padding: $padding-li;
        padding-right: 0;
        list-style: none;
        margin-left: $indentation;
        position: relative;

    }

    .vertical-line {
        display: none;
        @include vertical-line;
    }

    & ul li:last-child::before {
        @include line-shade;
    }

    &__node {
        & label {
            position: relative;
        }

        &  label::before {
            @include horizontal-line;
        }

        &::after {
            @include vertical-line;
        }

        & ul li:last-child::before {
            @include line-shade;
        }

    }

    &__endpoint {
        & > *:first-child {
            position: relative;
        }

        & > *:first-child::before {
            @include horizontal-line;
        }

        &.--odd{
            background-color: $color-background-dark;
        }
    }

    //Handling closing.
    li {
        display: none;
    }
    
    input:checked ~ label ~ ul > li {
        display: block;
    }

    input:checked ~ label ~ ul ~ .vertical-line  {
        display: block;
    }
}