*,
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //This defines what 1 rem is 1rem = 10px. 
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px 
    }

    @include respond(tab-port) {
        font-size: 50%; // 1rem = 8px 
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12px 
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, .75), rgba($color-primary, .75)), url('../img/tree.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    min-height: 100vh;

    @include respond(tab-port) {
        padding: 0; // 1rem = 8px 
    }
}

#root {
    margin: auto;
    background-color: $color-background-light;
    width: fit-content;
    padding: 3rem;
}