@mixin center-horizontal-and-vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin horizontal-line {
    content: "";
    position: absolute;
    font-size: inherit;
    top: 0;
    left: calc(( #{$padding-li} + #{$indentation} * 2 - #{$input-size}/2) * -1);
    transform: translateY(-50%);
    border-bottom: 1px solid $text-color-secondary;
    border-left: 1px solid $text-color-secondary;
    width: calc(#{$indentation} * 2  - #{$input-size}/2);
    height: 100%;
    z-index: 3;
}

@mixin vertical-line {
    content: "";
    position: absolute;
    font-size: inherit;
    top: calc(#{$input-size} + #{$padding-li});
    left: calc(#{$input-size}/2 + #{$padding-li});
    border-left: 1px solid $text-color-secondary;
    width: 1px;
    height: calc(100% - #{$input-size});
    z-index: 1;
}

@mixin line-shade {
    background-color: $color-background-light;
    content: "";
    position: absolute;
    font-size: inherit;
    top: $padding-li;
    left: calc(( #{$padding-li} + #{$indentation} * 2) * -1);
    width:  #{$input-size};
    height: calc(100% + #{$padding-li});
    z-index: 2;
}

//Media query manager - desktop first

/* Break point: 
0 - 600px -smartphones 
600 - 900px- tablets
900-1200px - tablet landscape 
[1200-1800] - default 
1800px + - big desktops

    Breakpoint argumetnt choices: 
    - phone
    - tab-port
    - tab-land
    - big-desktop
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }  }; //600px

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content } }; //900px

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content } }; //1200px

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content }}; //1800 px
};